@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Sairra Condensad";
  src: url("../font/SairaCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Sairra Condensad Bold";
  src: url("../font/SairaCondensed-Bold.ttf") format("truetype");
  font-weight: normal;
}

body {
  max-width: 1680px;
  margin: 0 auto;
  background-color: #181917;
  color: white;
  font-family: "Montserrat", sans-serif;
}

header h1 {
  font-family: "Sairra Condensad", sans-serif;
}

header h1 b {
  font-family: "Sairra Condensad Bold", sans-serif;
}

.minimal-margin {
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
}

div img {
  margin: 0 auto;
  max-width: 150px; /* Opcional: defina uma largura máxima */
  display: flex;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  max-width: 960px;
  margin: 0 auto 10px 10px;
}

.line1 {
  grid-column-start: 1;
  grid-column-end: 4;
  align-items: center;
}

article {
  position: relative;
}

.article-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 930px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }

  .cards {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    max-width: 600px;
    margin: 0 auto 10px;
  }

  .line1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (max-width: 600px) {
  .cards {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    max-width: 600px;
    margin: 0 auto 10px;
  }

  .line1 {
    grid-column-start: 1;
    grid-column-end: 1;
  }
}

.redes-sociais {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: auto;
  justify-content: flex-end;
  color: white;
}

.redes-sociais a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.redes-sociais a:hover {
  color: #777;
}

.mensagens-destaque {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  max-width: 960px;
  color: black;
}

.destaque-1,
.destaque-2 {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.destaque-1 h2,
.destaque-2 h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.destaque-1 a,
.destaque-2 a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
}

a:link {
  color: lightgray;
}

a:visited {
  color: gray;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:active {
  color: orange;
}

.destaque-1 a:link,
.destaque-2 a:link {
  color: black;
}

.destaque-1 a:visited,
.destaque-2 a:visited {
  color: black;
}

.destaque-1 a:hover,
.destaque-2 a:hover {
  color: black;
}

.destaque-1 a:active,
.destaque-2 a:active {
  color: black;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #e6e6e6; /* Light gray base */
  border: none;
  border-radius: 4px;
  font-family: "Segoe UI", sans-serif; /* Windows default font */
  font-size: 14px;
  color: black;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(
    to bottom,
    #f2f2f2,
    #e6e6e6
  ); /* Light gradient on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* More pronounced shadow */
  color: black;
  text-decoration: none;
}

.button:active {
  background: #e0e0e0; /* Darker shade on click */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Reduced shadow */
  color: black;
  text-decoration: none;
}
